<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
      <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
        <form class="login100-form validate-form flex-sb flex-w">
<a href="#" class="btn-face m-b-20" routerLink="/userhome">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Booking Status
    </a>

    <a href="#" class="btn-face m-b-20" routerLink="/hospital">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Hospital
    </a>

    <a href="#" class="btn-face m-b-20" routerLink="/banking">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Banking
    </a>
    <a href="#" class="btn-face m-b-20" routerLink="/profile">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Profile
    </a>
    <div class="w-full text-center p-t-55">

      <a href="#" class="txt2 bo1" routerLink="/login" >
        LogOut
      </a>
    </div>
        </form>
      </div>
    </div>
</div>