<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
      <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
        <form class="login100-form validate-form flex-sb flex-w">
<a href="#" class="btn-face m-b-20" routerLink="/home">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Home
    </a>

    <a href="#" class="btn-face m-b-20" routerLink="/home">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Hospital
    </a>

    <a href="#" class="btn-face m-b-20" routerLink="/home">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Banking
    </a>
    <a href="#" class="btn-face m-b-20" routerLink="/home">
      <!-- <i class="fa fa-facebook-official"></i> -->
      Profile
    </a>
        </form>
      </div>
    </div>
</div>
     
<!-- <a routerLink="/home" routerLinkActive="router-link-active">home </a>  

&nbsp; &nbsp; &nbsp;
<a routerLink="/contact" routerLinkActive="router-link-active">contact us </a>  


&nbsp; &nbsp; &nbsp;
<a routerLink="/services" routerLinkActive="router-link-active">Our Services </a>   -->


<!-- <router-outlet></router-outlet> -->
