<style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    </style>
<body>
  <!-- <div class="jugaad">
    <span class="txt1">
        Current Loan Token: <input type="text" [(ngModel)]="cl">
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="txt1">
        Current Deposit Token: <input type="text" [(ngModel)]="cd">
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{cd}} {{cl}}
    <input type="submit" value="Send Update" (click)=sendupdate()>
  </div> -->

<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/admin.jpg');">
      <!-- <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33"> -->


<div>
  <button class="login100-form-btn" (click)="getallbank() " > Banking Service Requests</button><br>
<!-- <input type="submit" value="Banking Service Requests" (click)="getallbank()"><hr> -->
<table id="customers" border="2" *ngIf=(vision) >
  <th>User Number</th> <th>Date</th> <th> Request Type </th> <th> Status</th><th> Token No</th><th scope="2">Action</th>
  <tr *ngFor="let ref of bankers">
      <td>{{ref.userNumber}}</td>
      <td>{{parseDate(ref.date)}}</td>
      <td>{{ref.requestType}}</td>
      <td>{{ref.status}}</td>

      <td *ngIf="ref.requestType=='Loan'"> Loan Token: {{ref.loanToken}} </td>
      <td *ngIf="ref.requestType=='Deposit'"> Deposit Token: {{ref.depositToken}} </td> 

      <td *ngIf="ref.status=='Requested'"><button class="btn btn-success" name="accepted" (click)="acceptbanker(ref.userNumber)"> Accept</button>&nbsp;
      <button class="btn btn-danger" name="rejected" (click)="rejectbanker(ref.userNumber)"> Reject</button></td>
  
      <td *ngIf="ref.status=='Approved'">
      <button class="btn btn-danger" name="rejected" (click)="rejectbanker(ref.userNumber)"> Reject</button></td>
    
      <td *ngIf="ref.status=='Rejected'">
      <button class="btn btn-success" name="accepted" (click)="acceptbanker(ref.userNumber)"> Accept</button>
    </tr>
</table>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div>
  <button class="login100-form-btn" (click)="getallhospital()">Hospital Appointment Requests</button><br>
<!-- <input type="submit" value="Hospital Appointment Requests" (click)="getallhospital()"><hr> -->
<table id="customers" border="2" *ngIf=(vision1)>
  <th>User Number</th> <th>Date</th> <th>Slot</th> <th> Request Type </th> <th>Message </th> <th> Status</th><th scope="2">Accept/Reject</th>
  <tr *ngFor="let ref of patients">
      <td>{{ref.userNumber}}</td>
      <td>{{parseDate(ref.date)}}</td>
      <td>{{ref.slot}}</td>    
      <td>{{ref.requestType}}</td>
      <td>{{ref.message}}</td>
      <td>{{ref.status}}</td>
      <td><button  class="btn btn-success" name="accepted" (click)="acceptpatient(ref.userNumber)"> Accept</button>&nbsp;
      <button  class="btn btn-danger" name="rejected" (click)="rejectpatient(ref.userNumber)"> Reject</button></td>
  </tr>
</table>
</div>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div> <button  class="btn btn-warning" name="logout" (click)="adminlogout()"> Logout!</button> </div>
  
      <!-- </div> -->
    </div>
</div>
</body>
<!-- <a routerLink="/adminlogin"> Back </a> -->
