<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
      <!-- <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33"> -->


<div>
<input type="submit" value="Get Bank Data" (click)="getallbank()"><hr>
<table border="2" *ngIf=(vision)>
  <th>User Number</th> <th>Date</th> <th> Request Type </th> <th> Status</th><th> Token No</th><th scope="2">Action</th>
  <tr *ngFor="let ref of bankers">
      <td>{{ref.userNumber}}</td>
      <td>{{parseDate(ref.date)}}</td>
      <td>{{ref.requestType}}</td>
      <td>{{ref.status}}</td>

      <td *ngIf="ref.requestType=='Loan'"> Loan Token: {{ref.loanToken}} </td>
      <td *ngIf="ref.requestType=='Deposit'"> Deposit Token: {{ref.depositToken}} </td> 

      <td *ngIf="ref.status=='Requested'"><button class="btn btn-success" name="accepted" (click)="acceptbanker(ref.userNumber)"> Accept</button>&nbsp;
      <button class="btn btn-danger" name="rejected" (click)="rejectbanker(ref.userNumber)"> Reject</button></td>
  
      <td *ngIf="ref.status=='Approved'">
      <button class="btn btn-danger" name="rejected" (click)="rejectbanker(ref.userNumber)"> Reject</button></td>
    
      <td *ngIf="ref.status=='Rejected'">
      <button class="btn btn-success" name="accepted" (click)="acceptbanker(ref.userNumber)"> Accept</button>
    </tr>
</table>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div>
<input type="submit" value="Get Hospital Data" (click)="getallhospital()"><hr>
<table border="2" *ngIf=(vision1)>
  <th>User Number</th> <th>Date</th> <th>Slot</th> <th> Request Type </th> <th>Message </th> <th> Status</th><th scope="2">Accept/Reject</th>
  <tr *ngFor="let ref of patients">
      <td>{{ref.userNumber}}</td>
      <td>{{parseDate(ref.date)}}</td>
      <td>{{ref.slot}}</td>    
      <td>{{ref.requestType}}</td>
      <td>{{ref.message}}</td>
      <td>{{ref.status}}</td>
      <td><button  class="btn btn-success" name="accepted" (click)="acceptpatient(ref.userNumber)"> Accept</button>&nbsp;
      <button  class="btn btn-danger" name="rejected" (click)="rejectpatient(ref.userNumber)"> Reject</button></td>
  </tr>
</table>
</div>




<!-- <div> testing search function
  <input type="submit" value="Get Hospital Data" (click)="getallhospital()"><hr>
  <table border="2" *ngIf=(vision1)>
    <th>User Number</th> <th>Date</th> <th>Slot</th> <th> Request Type </th> <th>Message </th> <th> Status</th><th scope="2">Accept/Reject</th>
    <tr ng-repeat="let ref of patients | filter : search">
        <td>{{ref.userNumber}}</td>
        <td>{{parseDate(ref.date)| date : 'dd/MM/yyyy'}}</td>
        <td>{{ref.slot}}</td>    
        <td>{{ref.requestType}}</td>
        <td>{{ref.message}}</td>
        <td>{{ref.status}}</td>
        <td><button  class="btn btn-danger" name="accepted" (click)="acceptpatient(ref.userNumber)"> Accept</button>&nbsp;
        <button  class="btn btn-danger" name="rejected" (click)="rejectpatient(ref.userNumber)"> Reject</button></td>
    </tr>
  </table>
  </div> -->

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div> <button  class="btn btn-warning" name="logout" (click)="adminlogout()"> Logout!</button> </div>
  
      <!-- </div> -->
    </div>
</div>

<!-- <a routerLink="/adminlogin"> Back </a> -->